<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="javascript:;"><h6>Home</h6></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:;"><h6>Shop</h6></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:;"><h6>Pages</h6></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:;"><h6>Blog</h6></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:;"><h6>Contact</h6></a>
  </li>
  <div class="icon-container">
    <i class="material-icons">favorite</i>
    <i class="material-icons">add_shopping_cart</i>
  </div>

  <!-- <li class="nav-item">
    <a class="nav-link disabled" href="javascript:;">Disabled</a>
  </li> -->
</ul>
